ul.cmsx-context-menu {
	list-style-type: none;
	margin: 0;
	padding: $margin 0;
	position: fixed;
	z-index: 999;
	background: $backgroundColor;
	border: 1px solid $borderColor;
	@include border-radius($margin);
	@include box-shadow(1px 2px 5px rgba(0,0,0,.5));

	&.cmsx-context-menu-top-left {
		@include border-radius($margin $margin 0 $margin);
	}

	&.cmsx-context-menu-top-right {
		@include border-radius($margin $margin $margin 0);
	}

	&.cmsx-context-menu-bottom-left {
		@include border-radius($margin 0 $margin $margin);
	}

	&.cmsx-context-menu-bottom-right {
		@include border-radius(0 $margin $margin $margin);
	}

	li {
		margin: 0;
		padding: 0;
		display: block;

		a, a:visited, a:hover, a:active, a:focus {
			display: block;
			padding: $margin/2 $margin;
			color: $actionColor;
			text-decoration: none;
		}

		a:hover, a:active, a:focus {
			background: $actionColor;
			color: $backgroundColor;
		}
	}
}