.cmsx-tree {

	ul.cmsx-tree-parents {
		border-bottom: none;
		padding-left: $margin;

		li.cmsx-list-item {
			display: inline-block;
			padding: $margin/2 $margin/2 $margin/2 0;
			border-bottom: none;
			width: auto;

			&:before {
				content: '\000bb';
				padding-right: $margin/2;
			}

			&:first-child:before {
				display:none
			}

			&.cmsx-additional:before {
				content: '';
				padding: 0;
			}

			a.cmsx-item-label {
				margin: 0;
				display: inline;
			}
		}
	}
}