.cmsx-media {
	text-align: center;
	max-width: 100%;
	max-height: 100%;

	.cmsx-image, .cmsx-player, .cmsx-media-iframe, .cmsx-download {
			display: none;
	}
	&.cmsx-media-image .cmsx-image {
		display: inline-block;
		max-width: 100%;
		max-height: 100%;
	}
	&.cmsx-media-stream {
		height: 100%;

		.cmsx-player {
			display: inline-block;
			width: auto;
			max-width: 100%;
		}
	}
	&.cmsx-media-iframe .cmsx-media-iframe {
		display: inline-block;
	}
	&.cmsx-media-download .cmsx-download {
		display: inline-block;
		text-align: center;
		/*@extend .dav, .dav-download;*/
		position: relative;
		top: 50%;
		margin: -0.5em 0 0 0;

		&:before {
			padding-right: $margin/2;
		}
	}
}

.cmsx-image {
	text-align: center;

	.cmsx-progress-indicator {
		display: none;
		/*@extend .dav, .dav-spinner;*/
		padding: 20px;
		font-size: 30px;
	}
	&.loading {
		img {
			display: none;
		}
		.progress-indicator {
			display: block;
		}
	}
}

.cmsx-player {
	&.playing {
		cursor: default;

		video {
			display: block;
		}
	}
	&.paused {
		color: $actionColor;
		cursor: pointer;
		/*@extend .dav, .dav-play-circle;*/
		&:before {
			font-size: 70px;
			width: 100%;
			position: relative;
			top: 50%;
			margin: -35px 0 0 0;
		}

		video {	
			display: none;
		}
	}
}