ul.cmsx-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 1px solid $borderColor;

	li.cmsx-list-item {
		margin: 0;
		padding: $margin/2 $margin;
		border-bottom: 1px solid $borderColorLight;

		&:last-child {
			border-bottom: none;
		}
	}
}