.cmsx-toolbar {
	position: fixed;
	right: 0;
	top: 0;
	width: 0;
	height: 100%;
	background: $backgroundColor;
	@include transition(width 0.3s);

	.cmsx-toolbar-buttons {
		position: absolute;
		top: 10%;
		right: 0;
		border: 1px solid #textColor;
		border-right: none;
		@include border-radius($borderRadius 0 0 $borderRadius);
		@include box-shadow(3px 3px 13px rgba(0,0,0,.7));
	}

	.cmsx-toolbar-button {
		display: block;
		padding: $margin/2;
		border-bottom: 1px solid $borderColor;

		&:last-child {
			border-bottom: none;
		}
	}

	&.cmsx-toolbar-show-content {
		top: 0;
		width: 80%;
		height: 100%;
		@include box-shadow(3px 3px 13px rgba(0,0,0,.7));

		.cmsx-toolbar-buttons {
			@include box-shadow(none);
		}

		.cmsx-toolbar-button {
			&, &:last-child {
				border-left: 1px solid $borderColor;
				border-bottom: 1px solid $borderColor;
			}

			&:first-child {
				border-top: 1px solid $borderColor;
			}

			&.cmsx-toolbar-button-active {
				border-left: 1px solid $actionColor;
			}
		}
	}

	.cmsx-toolbar-contents {
		margin: $margin 30px $margin $margin;
	}

	.cmsx-toolbar-contents {
		.cmsx-toolbar-content {
			display: none;

			&.cmsx-toolbar-content-active {
				display: block;
			}
		}
	}
}