.cmsx-modal-background, .cmsx-modal-click-zone {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: visible;
	z-index: 900;
	background: #000000;
	opacity: 0;

	&.cmsx-hidden {
		visibility: hidden;
		opacity: 0;
	}
}

.cmsx-modal-background {
	z-index: 900;
	opacity: 0.7;
	background-repeat: no-repeat;
    background-attachment: fixed;
    @include gradient-radial(#aaaaaa, #000000);
    @include transition(opacity $animationLength, visibility $animationLength ease-in);
}

.cmsx-modal-click-zone {
	z-index: 950;
}

.cmsx-dialog {
	position: fixed;
	z-index: 950;
	padding: 10px;
	background: $backgroundColor;
	border: 1px solid $borderColor;
	@include border-radius($borderRadius);
	@include box-shadow(1px 3px 15px rgba(0,0,0,.5));
	@include transform(translate(0,0) scale(1));

	&.cmsx-dialog-active {
		z-index: 970;
		opacity: 1;
	}

	&.cmsx-dialog-inactive {
		z-index: 930;
		opacity: 0.25;
		@include box-shadow(1px 3px 5px rgba(0,0,0,.5));
		@include transform(translate(0,0) scale(0.7));
	}

	&.cmsx-overlay-visible {
		@include transform(translate(0,0) scale(1));
	}

	&.cmsx-overlay-hidden {
		@include transform(translate(0,-100vh) scale(0.7));
	}

	&.cmsx-overlay-transition-show {
		&.cmsx-overlay-visible {
			@include transform(translate(-50%,-50%) scale(0.001));
		}

		&.cmsx-dialog-active {
			opacity: 0.25;
		}
	}

	&.cmsx-animate {
		&.cmsx-dialog-active, &.cms-overlay-visible {
			@include transition(left $animationLength ease-out,
			top $animationLength ease-out,
			opacity $animationLength ease-out,
			visibility $animationLength ease-in,
			transform $animationLength ease-out,
			-moz-transform $animationLength ease-out,
			-webkit-transform $animationLength ease-out,
			-ms-transform $animationLength ease-out,
			-o-transform $animationLength ease-out);
		}

		&.cmsx-dialog-inactive, &.cms-overlay-hidden {
			@include transition(left $animationLength ease-in,
			top $animationLength ease-in,
			opacity $animationLength ease-in,
			visibility $animationLength ease-in,
			transform $animationLength ease-in,
			-moz-transform $animationLength ease-in,
			-webkit-transform $animationLength ease-in,
			-ms-transform $animationLength ease-in,
			-o-transform $animationLength ease-in);
		}
	}

	.cmsx-dialog-close {
		display: block;
		position: absolute;
		top: -0.6em;
		right: -0.6em;
		width: 1.2em;
		height: 1.2em;
		margin: 0 0 -1.2em -1.2em;
		cursor: pointer;
		text-align: center;
		background: $backgroundColor;
		border: 1px solid $borderColor;
		@include border-radius(0.6em);
		/*@extend .dav, .dav-times;*/
		&:before {
			content: 'x'
		}

		&:focus, &:active {
			border: 1px solid $actionColor;
		}
	}

	img {
		max-width: 100%;
		max-height: 100%;
	}
}
